<h1>Orders</h1>

<table>
  <thead>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Status</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.product.name, api_v1_order_path(order) %></td>
      <td><%= order.quantity %></td>
      <td><%= link_to 'Edit', edit_api_v1_product_order_path(order.product, order) %></td>
      <td><%= link_to 'Destroy', api_v1_order_path(order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if defined?(@product) && @product.present? %>
  <% if current_user.role == 'admin' %>
  <%= link_to 'New Order', new_api_v1_product_order_path(@product), class: 'btn btn-primary' %>
    <%end %>
<% end %>

<%= link_to 'Go to Product Listing', api_v1_products_path, class: 'btn btn-success mb-3' %>