<!DOCTYPE html>
<html>
<head>
  <title>Ecommerce store</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <%= yield %>
</div>
</body>
<% if logged_in? %>
<%= button_to 'Logout', api_v1_logout_path, method: :delete, class: 'btn btn-danger' %>
  <%end %>
</html>
